.cabecalho{background-color: rgb(120, 255, 210);
display:flex;
padding: 30px;
font-size: 24px;
justify-content: space-around;
}
.cabecalho-imagem{
width: 100px;
height: 100px;
}
cabecalho-item{
display:inline-block;
padding: 0 100px;
text-decoration:underline ;
}


/*secçao turma*/
.turma{background-image: linear-gradient(6,9,0.705), rgba(182);
padding: 30px;
}
.turma-titulo{
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
}
